<div class="featured-post">
    {% for post in site.posts limit:1 %}
    {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
    {% capture category_name %}{{ category | first }}{% endcapture %}
    <div class="splash-img">
        {% if post.thumbnail > "" %}
        <img src="/assets/theme/{{ post.thumbnail }}.webp" alt/>
        {% else %}
          {% unless post.categories == empty %}
            {%for categories in post.categories %}
              <img src="/assets/theme/{{ categories | slugify }}.webp" alt />
            {% endfor %}
          {% else %}
          <img src="/assets/theme/splash.webp" alt />
          {% endunless %}
        {% endif %}
      </div>
    <div class="featured-post-info">
        <h2>Latest Post</h2>
        <span class="post-meta">
        {% unless post.categories == empty %}
            {%for categories in post.categories %}
            <a href="/categories/#{{ categories | slugize }}">{{ categories }}</a> >
            {% endfor %}
        {% endunless %}
        {%- if post.author -%}
        <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">Posted by: {{ post.author }}</span></span> -
        {%- endif -%}
        <time class="dt-published" datetime="{{ poast.date | date_to_xmlschema }}" itemprop="datePublished">
            {{ post.date | date: date_format }}
        </time>
        </span>
        <h3 class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></h3>
    </div>
    {% endfor %}
</div>
<script src="/js/landing-posts-slider.js"></script>
