/**
 * Site header
 */
.site-header {
  min-height: $spacing-unit * 1.865;

  // Positioning context for the mobile navigation icon
  position: relative;
}

.site-title {
  @include relative-font-size(1.625);
  font-weight: 600;
  line-height: $base-line-height * $base-font-size * 2.25;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;
  color: $yell-yellow;
  &:hover,
  &:visited {
    color: $yell-yellow;
  }
}

.site-nav {
  float: right;
  line-height: $base-line-height * $base-font-size * 2.25;

  .nav-trigger {
      display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $yell-yellow;
    line-height: $base-line-height;
    padding: $base-font-size / 2;
    background-color: $background-color;
    border-radius: 4px;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 5px;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: $spacing-unit / 2;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        fill: $grey-color-light;
      }
    }

    input ~ .trigger {
      clear: both;
      display: none;
    }

    input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
  }
}



/**
 * Site footer
 */
.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  @include relative-font-size(0.9375);
  color: $grey-color-light;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
  display: flex;
  flex-direction: row;
}

.footer-col {
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  flex: 1 1 20%;
}

.footer-col-2 {
  flex: 0 0 auto;
  align-self: flex-end;
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}



/**
 * Page content
 */
.page-content {
  display: flex;
  padding: 0;
  flex: 1;
}

.page-heading {
  @include relative-font-size(2);
}

.post-list-heading {
  @include relative-font-size(1.75);
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color-light;
}

.post-link {
  display: block;
  @include relative-font-size(1.5);
}



/**
 * Posts
 */
.post-header {
  position: relative;
  .splash-img {
    margin: #{-1*$spacing-unit} #{-1*$spacing-unit} $spacing-unit #{-1*$spacing-unit};
    border-bottom: 1px solid $yell-yellow;
    height: 300px;
    display: flex;
    overflow: hidden;

    img {
      object-fit: cover;
      align-self: center;
    }
  }
}

.post-title {
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    @include relative-font-size(2);

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }
}

/**
 * featured post (home page)
 */
.featured-post {
  position: relative;
  padding-top: $spacing-unit;
  margin-top: $spacing-unit;

  .splash-img {
    margin: #{-1*$spacing-unit} #{-1*$spacing-unit} $spacing-unit #{-1*$spacing-unit};
    border-bottom: 1px solid $yell-yellow;
    border-top: 1px solid $yell-yellow;
    img {
      object-fit: cover;
    }
  }

  .featured-post-info {
    position: absolute;
    bottom: $spacing-unit;
    left: #{-1*$spacing-unit};
    right: #{-1*$spacing-unit};
    top: auto;

    padding: $spacing-unit/2 $spacing-unit;

    background-color: $grey-color-dark-alpha;
    border-top: 1px solid $yell-red;
    border-bottom: 1px solid $yell-red;

    h2 {
      margin-bottom: 0;
    }

    .post-meta {
      color: $text-color;
    }
  }
}

/**
 * home
 */

 .home {
    .category-panels-wrapper {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      max-width: 100%;
      
      .category-panel {
        flex: 0 0 calc(50% - #{$spacing-unit*3});
        background-color: $background-color;
        border-radius: $spacing-unit/4;
        padding: $spacing-unit;
        margin: $spacing-unit/2;

        h3 {
          font-size: $base-font-size*1.5;
        }

        h4 {
          margin-bottom: 0;
        }

        ul {
          list-style: none;
          margin-left: 0;
          border-top: 1px dashed $grey-color-light;
        }

        li {
          border-bottom: 1px dashed $grey-color-light;
          padding: $spacing-unit/2 0;
        }

        .post-link {
          font-size: $base-font-size*1.25;
        }
      }
    }
 }