---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">
  {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
  {% unless page.categories == empty %}
      {%for categories in page.categories | first %}
        {% capture category_name %}{{ categories }}{% endcapture %}
        {% capture category_slug %}{{ categories | slugify }}{% endcapture %}
      {% endfor %}
    {% endunless %}
  <header class="post-header">

    <div class="splash-img">
      {% capture date_folder %}{{ page.date | date: '%F' }}{% endcapture %}
      {% assign path = '/assets/' | append: date_folder | append: '/' | append: page.thumbnail  %}
      {% assign file_exists = site.static_files | where: "path", path  %}
      {% if file_exists.size != 0 %}
          <img src="{{ path }}" alt />
      {% else %}
          {% assign path = '/assets/theme/' | append: category_slug | append: ".webp"  %}
          {% assign file_exists = site.static_files | where: "path", path  %}
          {% if file_exists.size != 0 %}
              <img src="{{ path }}" alt />
          {% else %}
              <img src="/assets/theme/splash.webp" alt />
          {% endif %}
      {% endif %}
    </div>

    <div class="featured-post-info">
      <span class="post-meta">
        {% unless page.categories == empty %}
          {%for categories in page.categories %}
            <a href="/categories/#{{ category_slug }}">{{ category_name }}</a> >
          {% endfor %}
        {% endunless %}
        {%- if page.author -%}
        <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">Posted by: {{ page.author }}</span></span> -
        {%- endif -%}
        <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
          {{ page.date | date: date_format }}
        </time>
      </span>
      <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    </div>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
